.layout-cabecalho {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ccc;

	background-color: #fff;
}

.layout-cabecalho--home {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}


.layout-chamada, .layout-significados {
	padding: 80px 0 10px 0;
	margin-top: 0px;

	background-color: #000;
}

.layout-enquete {
	min-height: 510px;

	padding: 80px 0 10px 0;
	margin-top: 0px;
	margin-bottom: 40px;

	background-color: #fff;
}

.layout-depoimento {
	padding: 80px 0;

	background-color: #e7e7e7;
}

.layout-rodape {
	padding: 40px 0;

	background-color: #484848;
	color: #fff;

	text-align: center
}